---
import Layout from "../layouts/Layout.astro";
---

<Layout title="TCSG">
  <header>
    <h1>The extension to enhance your Tailwind CSS projects</h1>
    <p>TCSG is the Visual Studio Code Extension to boost your efficiency when working on a Tailwind CSS project.</p>
  </header>
  <main>
    <section>
      <h2>The perfect companion for your Tailwind CSS adventures</h2>
      <div>
        <h3>Start a Tailwind CSS project in the blink of an eye</h3>
      </div>
      <div>
        <h3>Include precreated components to your project from the editor</h3>
      </div>
    </section>
    <section>
      <h2>Contribute</h2>
    </section>
  </main>
  <footer>
    <p><a href="#">MIT License</a> © 2024</p>
  </footer>
  
</Layout>