---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap&text=tcsg"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --primary: #06b6d4;
    --secondary: #1768ac;
    --black: #202324;
    --white: #fff;
  }
  body {
    font-family: "Raleway", sans-serif;
    color: var(--white);
    background-color: var(--black);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }

  .bg-radial::before {
    content: "";
    position: absolute;
    top: -6%;
    bottom: -6%;
    left: -25%;
    width: 150%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
    z-index: -1;
    mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.45), transparent 65%);
  }

  .logo-title {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
  }
</style>
